---
title: Table Test
---
<h1>Table Test</h1>
<table class="table table-bordered">
  <tr>
    <td>Test1</td>
    <td>Content1</td>
  </tr>
  <tr>
    <td>Test2</td>
    <td>Content2</td>
  </tr>
  <tr>
    <td>Test3</td>
    <td>Content3</td>
  </tr>
  <tr>
    <td>Test4</td>
    <td>Content4</td>
  </tr>
</table>

<div class="well js-info-box">
  Press first cell
</div>
